{{> gif}}
<h1>Mr. "Burrito Cat" and we the undersigned demand that the majectic burrito has to be classified as public good in the UNESCO 'World Patrimony of the Humanity'</h1>
{{names}}

{{#signers}}
<p id="signers">{{#url}}<a target="_blank" href="{{.}}">{{/url}}{{first_name}} {{last_name}}</a> ({{#age}}{{.}}{{/age}}{{#city}},<a href="/signers/{{.}}">{{.}}</a>{{/city}})</p>
{{/signers}}
